/**
 * @name Clouds Clean Discord
 * @author CloudTheWolf
 * @description A Basic QOL Patch for the new UI
 * @version 1.0.1
 * @authorId 126060427250630656
 * @source https://github.com/CloudTheWolf/Clouds-Clean-Discord
 * @updateUrl https://github.com/CloudTheWolf/Clouds-Clean-Discord/blob/main/cloud-clean-cord.theme.css
*/

.visual-refresh .panels_c48ade {
    position: absolute;
    background: var(--bg-overlay-floating,var(--background-base-low));
    border-radius: var(--radius-sm) 100% 100% var(--radius-sm);
    border: 0px solid var(--border-faint);
    left: 12px;
    bottom: 5px;
    justify-content: space-between;
    width: calc(20% - var(--space-xs)*2);
    box-sizing: border-box;
    /* Added transition for width and border-radius */
    transition: width 0.5s ease, border-radius 0.1s ease;
}

.visual-refresh .panels_c48ade:hover {
    width: calc(80% - var(--space-xs)*2);
    border-radius: var(--radius-sm);
}

.visual-refresh .panels_c48ade .buttons__37e49 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.visual-refresh .panels_c48ade:hover .buttons__37e49 {
    opacity: 1;
}

.visual-refresh .container__2637a {
    background: var(--bg-overlay-4,var(--background-base-lowest));
    padding-bottom: 0;
    margin-left: -1px;
}

/***
 * Hide the "Screen Share" Button unless 
 ***/
.visual-refresh .panels_c48ade .activityPanel_c48ade .body__5dec7 .actions__4cd01 .panelButtonContainer__4cd01 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.visual-refresh .panels_c48ade:hover .activityPanel_c48ade .body__5dec7 .actions__4cd01 .panelButtonContainer__4cd01 {
    opacity: 1;
}
