/**
 * @name Clouds Clean Discord
 * @author CloudTheWolf
 * @description A Basic QOL Patch for the new UI
 * @version 1.0.3
 * @authorId 126060427250630656
 * @source https://github.com/CloudTheWolf/Clouds-Clean-Discord
 * @updateUrl https://github.com/CloudTheWolf/Clouds-Clean-Discord/blob/main/cloud-clean-cord.theme.css
*/

/***
 * Import Material Icons
 ***/

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/***
 * Direct Messages
 ***/
.visual-refresh .scroller__99e7c {
    margin-bottom: unset;
}

/***
 * Channel Text Area
 ***/
 
.channelBottomBarArea_f75fb0 {
    display: flex;
    flex-direction: column;
}

.channelBottomBarArea_f75fb0 .channelTextArea_f75fb0 .channelTextArea__74017 {
    order: 2;
    display: flex;
}

.channelBottomBarArea_f75fb0 > span {
    order: -1;
    display: block !important;
    margin-bottom: 10px;
}

.container_c48ade {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    --custom-chat-input-margin-bottom: 6px;
    --custom-chat-input-margin-top: 6px;
}

/***
 * Profile Area
 ***/
.visual-refresh .panels_c48ade {
    position: absolute;
    background: var(--bg-overlay-floating,var(--background-base-low));
    border-radius: var(--radius-sm) 100% 100% var(--radius-sm);
    border: 0px solid var(--border-faint);
    left: 12px;
    bottom: 5px;
    justify-content: space-between;
    width: calc(20% - var(--space-xs)*2);
    box-sizing: border-box;
    /* Added transition for width and border-radius */
    transition: width 0.5s ease, border-radius 0.1s ease;
}

.visual-refresh .panels_c48ade:hover {
    width: calc(80% - var(--space-xs)*2);
    border-radius: var(--radius-sm);
}

.visual-refresh .panels_c48ade .buttons__37e49 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.visual-refresh .panels_c48ade:hover .buttons__37e49 {
    opacity: 1;
}

.visual-refresh .container__2637a {
    background: var(--bg-overlay-4,var(--background-base-lowest));
    padding-bottom: 0;
    margin-left: -1px;
}

/* Ensure the avatar element is positioned relatively */
.container__37e49 .avatarWrapper__37e49 .wrapper__44b0c.avatar__37e49 {
    position: relative;
  }
  
  /* Mute icon: applied when the mute button is enabled */
  .container__37e49:has(.buttons__37e49 .micButtonParent__37e49 button[aria-label="Mute"][aria-checked="true"]) 
    .avatarWrapper__37e49 .wrapper__44b0c.avatar__37e49::after {
    content: "mic_off";
    font-family: "Material Icons";
    background-color: #0c0c0e;
    border-radius: 75%;
    position: absolute;
    bottom: -5px;
    left: -5px;
    font-size: 1.2em;
    color: crimson;
    padding: 2px;
    z-index: 9998;
    font-size:13px;
  }
  
/* Deafen icon on ::before */
.container__37e49:has(.buttons__37e49 button[aria-label="Deafen"][aria-checked="true"]) 
  .avatarWrapper__37e49 .wrapper__44b0c.avatar__37e49::before {
  content: "headset_off";
  font-family: "Material Icons";
  background-color: #0c0c0e;
  border-radius: 75%;
  position: absolute;
  top: -5px;
  left: -5px;
  font-size: 1.2em;
  color: crimson;
  padding: 2px;
  z-index: 9999;
  font-size:13px;
}

/***
 * Hide the "Screen Share" Button unless 
 ***/
.visual-refresh .panels_c48ade .activityPanel_c48ade .body__5dec7 .actions__4cd01 .panelButtonContainer__4cd01 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.visual-refresh .panels_c48ade:hover .activityPanel_c48ade .body__5dec7 .actions__4cd01 .panelButtonContainer__4cd01 {
    opacity: 1;
}
